<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, 
		maximum-scale=1.0, minimum-scale=1.0">
	<title>Revista - BookTeca</title>
	<link rel="stylesheet" href="../css/addmagazinestyles.css">
</head>
<body>
	<form id="addmagazine" th:action="/revistaAñadida" method="post">
		<div class="form-sesion">
			<p>
				<label><b>Nombre</b></label><br>
				<input type="text" name="nombreRevista" required/>
			</p>
			<p>
				<label><b>Editorial</b></label><br>
				<input type="text" name="editorialRevista" required/>
			</p>
			<p>
				<label><b>Fasciculo</b></label><br>
				<input type="number" name="fasciculo" required/>
			</p>
			<p>
				<label><b>Genero</b></label><br>
				<input type="text" name="generoRevista" required/>
			</p>
			<p><input id="button-addmagazine" type="submit" value="Añadir"/></p>
		</div>
	</form>
</body>
</html>