<!DOCTYPE html>
<html lang="es"> <!--  xmlns:th="http://www.thymeleaf.org">-->

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Libros - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="inicio">Inicio</a></li>
					{{/visibleCerrarSesion}}
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
					{{/visibleIniciarSesion}}
					<li class="nav-item active"><a class="nav-link" href="buscadorLibros">Libros
							<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="buscadorRevistas">Revistas</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaSalaTrabajoGrupo">Sala Trabajo En Grupo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaEquipoInformatico">Equipos Informaticos</a></li>
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="miPerfil">Mi Perfil</a></li>
					<li class="nav-item"><a class="nav-link" href="sesionCerrada">Cerrar Sesion</a></li>
					{{/visibleCerrarSesion}}
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="iniciarSesion">Iniciar Sesion</a></li>
					<li class="nav-item"><a class="nav-link" href="registro">Registrate</a></li>
					{{/visibleIniciarSesion}}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5"></h1>
				<img src="imagenes/logoBookTeca.png" width="600" height="341">
				<h1 class="mt-5">Amplia coleccion de recursos al alcance de tu mano</h1>
				{{#visibleCerrarSesion}}
				<h2 class="lead"><b>¿Que tipo de libro deseas buscar {{nombre}}?</b></h2>
				{{/visibleCerrarSesion}}
				{{#visibleIniciarSesion}}
				<h2 class="lead"><b>¿Que tipo de libro deseas buscar?</b></h2>
				{{/visibleIniciarSesion}}
				<p class="lead">Puedes buscar por el nombre, autor, genero o editorial del libro</p>
				<h1 class="mt-5"></h1>
				<form action="/busquedaLibros" method="post">
					<div>
						<label for="busquedaLibros">Busqueda: </label> <input type="search"
							id="palabraClaveLibro" name="palabraClaveLibro"
							placeholder="Por ejemplo: Anaya o Romantico o Constitucion Española.." required
							size="30">
						<button>BUSCAR</button>
						<input type="hidden" name="_csrf" value={{token}}>
						<span class="validity"></span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>