<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Libros - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
					{{/visibleIniciarSesion}}
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="sesionIniciada">Inicio</a></li>
					{{/visibleCerrarSesion}}
					<li class="nav-item active"><a class="nav-link" href="buscadorLibros">Libros
							<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="buscadorRevistas">Revistas</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaSalaTrabajoGrupo">Sala Trabajo En Grupo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaEquipoInformatico">Equipos Informaticos</a></li>
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="miPerfil">Mi Perfil</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Cerrar Sesion</a></li>
					{{/visibleCerrarSesion}}
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="iniciarSesion">Iniciar Sesion</a></li>
					<li class="nav-item"><a class="nav-link" href="registro">Registrate</a></li>
					{{/visibleIniciarSesion}}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5"></h1>
				<img src="imagenes/logoBookTeca.png" width="600" height="341">
				<h1 class="mt-5">Amplia coleccion de recursos al alcance de tu mano</h1>
				{{#visibleCerrarSesion}}
				<h2 class="lead"><b>¿Deseas seguir buscando nuevos libros {{nombre}}?</b></h2>
				{{/visibleCerrarSesion}}
				{{#visibleIniciarSesion}}
				<h2 class="lead"><b>¿Deseas seguir buscando nuevos libros?</b></h2>
				{{/visibleIniciarSesion}}
				<p class="lead">Puedes buscar por el nombre, autor, genero o editorial del libro</p>
				<h1 class="mt-5"></h1>
				<form action="/busquedaLibros" method="post">
					<div>
						<label for="busquedaLibro">Busqueda: </label> <input type="search"
							id="palabraClaveLibro" name="palabraClaveLibro"
							placeholder="Por ejemplo: Anaya/Romantico/Constitucion Española.." required
							size="30">
						<button>BUSCAR</button>
						<span class="validity"></span>
					</div>
				</form>
				<h1 class="mt-5">RESULTADOS ENCONTRADOS DE SU BUSQUEDA</h1>
				{{^listaLibrosBusqueda}} <!-- 1 -->
				<p class="lead">Lo sentimos pero la busqueda no ha encontrado resultados :(</p>
				{{/listaLibrosBusqueda}} <!-- 1 -->
				{{#visibleTabla}} <!-- 0 -->
				<table border="1" class="lead" align="center">
					<tr>
						{{#visibleCerrarSesion}} <!-- 1 -->
						<th style="visibility:hidden">ID</th>
						{{/visibleCerrarSesion}} <!-- 1 -->
						<th>NOMBRE</th>
						<th>AUTOR</th>
						<th>EDITORIAL</th>
						<th>GENERO</th>
						{{#visibleCerrarSesion}} <!-- 1 -->
						<th style="visibility:hidden">RESERVAR</th>
						{{/visibleCerrarSesion}} <!-- 1 -->
					</tr>
					{{#listaLibrosBusqueda}} <!-- 1 -->
					<tr>
						{{#visibleIniciarSesion}} <!-- 2 -->
						<td>{{nombre}}</td>
						<td>{{autor}}</td>
						<td>{{editorial}}</td>
						<td>{{genero}}</td>
						{{/visibleIniciarSesion}}  <!-- 2 -->
						{{#visibleCerrarSesion}}   <!-- 2 -->
						<form action="/libroReservado" method="post">
							<td style="visibility:hidden"><input type="number" name="idLibro" value="{{id}}"/></td>
							<td>{{nombre}}</td>
							<td>{{autor}}</td>
							<td>{{editorial}}</td>
							<td>{{genero}}</td>
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="RESERVAR"/></td>
						</form>
						{{/visibleCerrarSesion}} <!-- 2 -->
					</tr>
					{{/listaLibrosBusqueda}} <!-- 1 -->
				</table>
				{{/visibleTabla}} <!-- 0 -->
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>