
<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Inicio - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="buscadorLibros">Libros</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="buscadorRevistas">Revistas</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						href="reservaSalaTrabajoGrupo">Sala Trabajo En Grupo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaEquipoInformatico">Equipos Informaticos</a></li>
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="iniciarSesion">Iniciar
							Sesion</a></li>
					<li class="nav-item"><a class="nav-link" href="registro">Registrate
							</a></li> 
					{{/visibleIniciarSesion}} 
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="miPerfil">Mi
							Perfil</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Cerrar
							Sesion</a></li> 
					{{/visibleCerrarSesion}}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5"></h1>
				<img src="imagenes/logoBookTeca.png" width="600" height="341">
				<h1 class="mt-5">Amplia coleccion de recursos al alcance de tu
					mano</h1>
				<p class="lead">Para profundizar mas en los recursos, no dude en
					iniciar sesion</p>
				<a href="iniciarSesion" class="btn btn-success">INICIAR SESION</a>
				<a href="registro" class="btn btn-success">REGISTRARSE</a>
				<h1 class="mt-5"></h1>
				<h1 class="mt-5">LIBROS</h1>
				<p class="lead">El libro destacado del dia es:</p>
				<table border class="lead">
					<tr>
						<th>NOMBRE</th>
						<th>AUTOR</th>
						<th>EDITORIAL</th>
						<th>NUMERO EJEMPLARES</th>
						<th>GENERO</th>
						{{#visibleCerrarSesion}}
						<th>RESERVAR</th>
						{{/visibleCerrarSesion}}
					</tr>
					<tr>
						<td>{{nombreLibroDestacado}}</td>
						<td>{{autorLibroDestacado}}</td>
						<td>{{editorialLibroDestacado}}</td>
						<td>{{numeroEjemplaresLibroDestacado}}</td>
						<td>{{generoLibroDestacado}}</td>
						{{#visibleCerrarSesion}}
						<td href="reservar" class="btn btn-success">RESERVAR</td>
						{{/visibleCerrarSesion}}
					</tr>
				</table>
				<h1 class="mt-5">REVISTAS</h1>
				<p class="lead">La revista destacada del dia es:</p>
				<table border class="lead">
					<tr>
						<th>NOMBRE</th>
						<th>EDITORIAL</th>
						<th>FASCICULOS</th>
						<th>NUMERO EJEMPLARES</th>
						<th>GENERO</th>
						{{#visibleCerrarSesion}}
						<th>RESERVAR</th>
						{{/visibleCerrarSesion}}
					</tr>
					<tr>
						<td>{{nombreRevistaDestacada}}</td>
						<td>{{editorialRevistaDestacada}}</td>
						<td>{{fasciculoRevistaDestacada}}</td>
						<td>{{numeroEjemplaresRevistaDestacada}}</td>
						<td>{{generoRevistaDestacada}}</td>
						{{#visibleCerrarSesion}}
						<td href="reservar" class="btn btn-success">RESERVAR</td>
						{{/visibleCerrarSesion}}
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>