
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Inicio - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="libros">Libros</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="revistas">Revistas</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						href="salaTrabajoGrupo">Sala Trabajo En Grupo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="equiposInformaticos">Equipos Informaticos</a></li>
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="inciarSesion">Iniciar
							Sesion</a></li>
					<li class="nav-item"><a class="nav-link" href="inciarSesion">Registrate
							</a></li> 
					{{/visibleIniciarSesion}} 
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="miPerfil">Mi
							Perfil</a></li>
					<li class="nav-item"><a class="nav-link" href="cerrarSesion">Cerrar
							Sesion</a></li> 
					{{/visibleCerrarSesion}}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5">BOOKTECA</h1>
				<p class="lead">Amplia coleccion de recursos al alcance de tu
					mano</p>
				<p class="lead">Para profundizar mas en los recursos, no dude en
					iniciar sesion</p>
				<!-- AÑADIR BOTON AQUI DE INICIO DE SESION O DE REGISTRO-->
				<p class="lead">LIBROS:</p>
				<table class="lead">
					{{#listaLibros}}
					<tr>
						<td>{{-index}}</td>
						<td>{{.}}</td>
					</tr>
					{{/listaLibros}}
				</table>
				<p class="lead">REVISTAS:</p>
				<table class="lead">
					{{#listaRevistas}}
					<tr>
						<td>{{-index}}</td>
						<td>{{.}}</td>
					</tr>
					{{/listaRevistas}}
				</table>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>