<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, 
		maximum-scale=1.0, minimum-scale=1.0">
	<title>Inicio Sesion - BookTeca</title>
	<link rel="stylesheet" href="../css/signinstyles.css">
</head>
<body>
	<form id="signin" action="/sesionIniciada" method="post" target="_blank">
		<div class="form-sesion">
			<p>
				<label><b>Usuario</b></label><br>
				<input type="text" name="nombreUsuario" required>
			</p>
			<p>
				<label><b>Contraseña</b></label><br>
				<input type="password" name="contrasenya" pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
					title="La contraseña debe contener almenos 1 letra mayuscula, 1 letra minuscula y 1 digito"
					required>
			</p>
			<p><input id="button-sesion" type="submit" value="Iniciar Sesion"></p>
		</div>
	</form>
</body>
</html>