<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html lang="es">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Mi Perfil - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="inicio">Inicio</a></li>
					{{#usuario}}
					<li class="nav-item"><a class="nav-link" href="buscadorLibros">Libros</a></li>
					<li class="nav-item"><a class="nav-link" href="buscadorRevistas">Revistas</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaSalaTrabajoGrupo">Sala Trabajo En Grupo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaEquipoInformatico">Equipos Informaticos</a></li>
					{{/usuario}}
					<li class="nav-item active"><a class="nav-link" href="miPerfil">Mi Perfil
						<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="sesionCerrada">Cerrar Sesion</a></li> 
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5"></h1>
				<img src="imagenes/logoBookTeca.png" width="600" height="341">
				<h1 class="mt-5">Hola {{nombre}}</h1>
				{{#usuarioAdmin}}
				<h2 class="mt-5">¿Que desea realizar?</h2>
				<p class="lead">Desde aqui puedes administrar los diferentes recursos de la coleccion</p>
				<a href="añadirLibro" class="btn btn-success">AÑADIR LIBRO</a>
				<a href="añadirRevista" class="btn btn-success">AÑADIR REVISTA</a>
				<a href="añadirSalaTrabajoGrupo" class="btn btn-success">AÑADIR SALA</a>
				<a href="añadirEquipoInformatico" class="btn btn-success">AÑADIR EQUIPO INFORMATICO</a>
				<h1 class="mt-5"></h1>
				<p class="lead">En esta parte puedes administrar los diferentes usuario, borrando o cambiandole el rol</p>
				<a href="administrarUsuarios" class="btn btn-success">ADMINISTRAR USUARIOS</a>
				<h1 class="mt-5"></h1>
				{{/usuarioAdmin}}
				{{#usuario}}
				<p class="lead">Desde aqui, puedes mirar el estado de tus reservas o editar tu perfil</p>
				<a href="editarPerfil" class="btn btn-success">EDITAR PERFIL</a>
				<h1 class="mt-5"></h1>
				<h2 class="mt-5">Reservas</h2>
				<p class="lead">Libros reservados:</p>
				{{^listaLibros}}
				<p class="lead">Parece que no tienes libros reservados.</p>
				{{/listaLibros}}
				{{#visibleTablaLibros}}
				<table border="1" class="lead" align="center">
					<tr>
						<th style="visibility:hidden">ID</th>
						<th>NOMBRE</th>
						<th>AUTOR</th>
						<th>EDITORIAL</th>
						<th>GENERO</th>
						<th>FIN DE RESERVA</th>
						<th style="visibility:hidden">DEVOLVER</th>
					</tr>
					{{#listaLibros}}
					<tr>
						<!-- <form th:action="@{/libroDevuelto}" method="post"> -->
						<form action="/libroDevuelto" method="post">
							<td style="visibility:hidden"><input type="number" name="idLibro" value="{{id}}"/></td>
							<td>{{nombre}}</td>
							<td>{{autor}}</td>
							<td>{{editorial}}</td>
							<td>{{genero}}</td>
							<td>{{fecFin}}</td>
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="DEVOLVER"/></td>
							<input type="hidden" name="_csrf" value={{token}}>
						</form>
					</tr>
					{{/listaLibros}}
				</table>
				{{/visibleTablaLibros}}
				<h1 class="mt-5"></h1>
				<p class="lead">Revistas reservadas:</p>
				{{^listaRevistas}}
				<p class="lead">Parece que no tienes revistas reservadas.</p>
				{{/listaRevistas}}
				{{#visibleTablaRevistas}}
				<table border="1" class="lead" align="center">
					<tr>
						<th style="visibility:hidden">ID</th>
						<th>NOMBRE</th>
						<th>EDITORIAL</th>
						<th>FASCICULOS</th>
						<th>GENERO</th>
						<th>FIN DE RESERVA</th>
						<th style="visibility:hidden">DEVOLVER</th>
					</tr>
					{{#listaRevistas}}
					<tr>
						<!-- <form th:action="@{/revistaDevuelta}" method="post"> -->
						<form action="/revistaDevuelta" method="post">
							<td style="visibility:hidden"><input type="number" name="idRevista" value="{{id}}"/></td>
							<td>{{nombre}}</td>
							<td>{{editorial}}</td>
							<td>{{fasciculo}}</td>
							<td>{{genero}}</td>
							<td>{{fecFin}}</td>
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="DEVOLVER"/></td>
							<input type="hidden" name="_csrf" value={{token}}>
						</form>
					</tr>
					{{/listaRevistas}}
				</table>
				{{/visibleTablaRevistas}}
				<h1 class="mt-5"></h1>
				<p class="lead">Sala de trabajo reservada:</p>
				{{^STG}}
				<p class="lead">Parece que no tienes ninguna sala reservada.</p>
				{{/STG}}
				{{#visibleSTG}}
				<table border="1" class="lead" align="center">
					<tr>
						<th style="visibility:hidden">ID</th>
						<th>CAPACIDAD</th>
						<th>LOCALIZACION</th>
						<th>COMPARTIDA</th>
						<th>FIN DE RESERVA</th>
						<th style="visibility:hidden">DEVOLVER</th>
					</tr>
					{{#STG}}
					<tr>
						<!-- <form th:action="@{/salaDesocupada}" method="post"> -->
						<form action="/salaDesocupada" method="post">
							<td style="visibility:hidden"><input type="number" name="idSala" value="{{id}}"/></td>
							<td>{{capacidad}}</td>
							<td>{{localizacion}}</td>
							{{#compartida}}
							<td>Si</td>
							{{/compartida}}
							{{^compartida}}
							<td>No</td>
							{{/compartida}}
							<td>{{fechaReserva}}</td>
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="DESOCUPAR"/></td>
							<input type="hidden" name="_csrf" value={{token}}>
						</form>
					</tr>
					{{/STG}}
				</table>
				{{/visibleSTG}}
				<h1 class="mt-5"></h1>
				<p class="lead">Equipo informatico reservado:</p>
				{{^equipo}}
				<p class="lead">Parece que no tienes nungún equipo reservado.</p>
				{{/equipo}}
				{{#visibleEquipo}}
				<table border="1" class="lead" align="center">
					<tr>
						<th style="visibility:hidden">ID</th>
						<th>SISTEMA OPERATIVO</th>
						<th>LOCALIZACION</th>
						<th>FIN DE RESERVA</th>
						<th style="visibility:hidden">DEVOLVER</th>
					</tr>
					{{#equipo}}
					<tr>
						<!-- <form th:action="@{/equipoDesocupado}" method="post"> -->
						<form action="/equipoDesocupado" method="post">
							<td style="visibility:hidden"><input type="number" name="idEquipo" value="{{id}}"/></td>
							<td>{{sistemaOperativo}}</td>
							<td>{{localizacion}}</td>
							<td>{{fechaReserva}}</td>
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="DESOCUPAR"/></td>
							<input type="hidden" name="_csrf" value={{token}}>
						</form>
					</tr>
					{{/equipo}}
				</table>
				{{/visibleEquipo}}
				{{/usuario}}
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>