<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html lang="es">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Registro - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5"></h1>
				<img src="imagenes/logoBookTeca.png" width="600" height="341">
				<h1 class="mt-5">Amplia coleccion de recursos al alcance de tu mano</h1>
				<p class="lead">Cree una cuenta para acceder a todas funcionalidades</p>
				<p class="lead">Por favor, rellene el formulario para crear una cuenta</p>
				<!-- <form id="signup" th:action="@{/iniciarSesionTrasRegistro}" method="post"> -->
				<form id="signup" action="/iniciarSesionTrasRegistro" method="post">
					<div class="form-sesion">
						<p>
							<label><b>Nombre</b></label><br> <input type="text"
								placeholder="Nombre"name="nombreUsuario" required>
						</p>
						<p>
							<label><b>Apellidos</b></label><br> <input type="text"
								placeholder="Apellidos"name="apellidosUsuario" required>
						</p>
						<p>
							<label><b>Email</b></label><br> <input type="text"
								placeholder="xxx@ejemplo.com" name="email" required>
						</p>
						<p>
							<label><b>Contraseña</b></label><br> <input type="password"
								name="contrasenya"
								pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
								title="La contraseña debe contener almenos 1 letra mayuscula, 1 letra minuscula y 1 digito"
								required>
						</p>
						<p>
							<input id="button-sesion" type="submit" value="Registrarse">
							<input type="hidden" name="_csrf" value={{token}}>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>