<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Pagina web BookTeca">
<meta name="author" content="Dani, Borja y Sergio">

<title>Salas Trabajo Grupo - BookTeca</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">BookTeca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="inicio">Inicio</a></li>
					{{/visibleCerrarSesion}}
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
					{{/visibleIniciarSesion}}
					<li class="nav-item active"><a class="nav-link" href="buscadorLibros">Libros
							<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="buscadorRevistas">Revistas</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaSalaTrabajoGrupo">Sala Trabajo En Grupo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="reservaEquipoInformatico">Equipos Informaticos</a></li>
					{{#visibleCerrarSesion}}
					<li class="nav-item"><a class="nav-link" href="miPerfil">Mi Perfil</a></li>
					<li class="nav-item"><a class="nav-link" href="sesionCerrada">Cerrar Sesion</a></li>
					{{/visibleCerrarSesion}}
					{{#visibleIniciarSesion}}
					<li class="nav-item"><a class="nav-link" href="iniciarSesion">Iniciar Sesion</a></li>
					<li class="nav-item"><a class="nav-link" href="registro">Registrate</a></li>
					{{/visibleIniciarSesion}}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5"></h1>
				<img src="imagenes/logoBookTeca.png" width="600" height="341">
				<h1 class="mt-5">Amplia coleccion de recursos al alcance de tu mano</h1>
				<p class="lead">Aqui encontraras las diferentes salas de trabajo para grupos que tenemos disponibles</p>
				<h1 class="mt-5"></h1>
				{{#salaElegida}}
				<p class="lead"><b><i>¡HAS ALCANZADO EL LIMITE DE SALAS RESERVADAS!</i></b></p>
				{{/salaElegida}}
				<h2 class="mt-5">SALAS LIBRES PARA SU UTILIZACION</h2>
				{{^listaSTG}}
				<p class="lead">Lo sentimos, pero no disponemos de salas libres :(</p>
				{{/listaSTG}}
				{{#visibleTabla}}
				<table border="1" class="lead" align="center">
					<tr>
						{{#visibleCerrarSesion}}
						<th style="visibility:hidden">ID</th>
						{{/visibleCerrarSesion}}
						<th>CAPACIDAD</th>
						<th>LOCALIZACION</th>
						<th>COMPARTIDA</th>
						{{#visibleCerrarSesion}}
						<th style="visibility:hidden">RESERVAR</th>
						{{/visibleCerrarSesion}}
					</tr>
					{{#listaSTG}}
					<tr>
						{{#visibleIniciarSesion}}
						<td>{{capacidad}}</td>
						<td>{{localizacion}}</td>
						{{#compartida}}
						<td>Si</td>
						{{/compartida}}
						{{^compartida}}
						<td>No</td>
						{{/compartida}}
						{{/visibleIniciarSesion}}
						{{#visibleCerrarSesion}}
						<!-- <form th:action="@{/salaReservada}" method="post"> -->
						<form th:action="/salaReservada" method="post">
							<td style="visibility:hidden"><input type="number" name="idSala" value="{{id}}"/></td>
							<td>{{capacidad}}</td>
							<td>{{localizacion}}</td>
							{{#compartida}}
							<td>Si</td>
							{{/compartida}}
							{{^compartida}}
							<td>No</td>
							{{/compartida}}
							{{#salaElegida}}
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="RESERVAR" disabled/></td>
							{{/salaElegida}}
							{{^salaElegida}}
							<td style="border:hidden"><input type="submit" class="btn btn-success" value="RESERVAR"/></td>
							{{/salaElegida}}
						</form>
						{{/visibleCerrarSesion}}

					</tr>
					{{/listaSTG}}
				</table>
				{{/visibleTabla}}
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.slim.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>