@import url('normalize.css');
@import url('bootstrap.min.css');

body,html{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../imagenes/sesionUsuario.jpg");
    background-size: 100%;
}

#signin{
    margin: 0 auto;
    border-radius: 5px;
    padding: 17px;
    border: 1px solid #E1E1E1;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: grey;
}

input{
	font-family: inherit;
	font-size: 100%;
	width : 150px;
  	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
}

#button-sesion{
	bold;
	background: #0099CC;
}